.container-faq1 {
    width: 75%;
    margin: 0 auto;
   div {
       margin-top: 20px;
       margin-bottom: 30px;
       font-size: 1em;
       &.question {
           margin-top: 40px;
            font-size: 1.2em;
            font-weight: 500;
            margin-top: 100px;
       }
   }
   ul, ol {
    margin: 0 0 0 16px;
    padding: 0;
    }
    ol > li > ol {
        list-style: lower-alpha;
    }
    li {
        line-height: 24px;
        padding-left: 16px;
        padding-top: 20px;
}
}
