.navbar {
border-bottom: 1px solid #CBCBCB;
padding: 2px 0;
width: 100%;
min-height: 100px;
position: fixed;
z-index: 1;
background-color: #fff;
.navbar-top {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
    .left-top {
        height: 70px;
        display: flex;
        align-items: center;
        color: $colorTesto;
        h1 {
            font-weight: 500;
            cursor: pointer;
            margin-left: 10px;
        }
        img {
            height: 40px;
        }
        .hamburger_menu {
            margin-right: 10px;
            display: none;
            .line {
                width: 25px;
                height: 4px;
                margin-top: 4px;
                background-color: gray;
            }
        }
    }
    .right-top {
        height: 70px;
        display: flex;
        align-items: center;
       
        color: $colorTesto;
        svg {
            height: 30px;
        }
        img {
            border-radius: 50%;
            margin-left: 20px;
        }
    }
}

.navbar-bottom {
    width: 95%;
    margin: 0 auto;

    .list {
        width: 60%;
        list-style: none;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        li {
            padding: 10px;
            a {
                text-decoration: none;
                color: $colorTesto;
                font-weight: 500;
                padding: 5px 0;
                font-size: 0.9em;
                min-width: 100px;
                display: block;
                
                &#active {
                    color: $asctiveLink;
                    border-bottom: 3px solid $asctiveLink;
                }
            }
        }
    }
}

}
.invisible {
    padding: 5px 0;
    width: 100%;
    height: 100px;
}

.open {
    transform: translateX(0%)!important;
    transition: transform 0.6s ease-in;
}
@media all and (max-width: 768px) {
    .navbar .navbar-top .left-top .hamburger_menu {
        display: block;
        cursor: pointer;
    }
    .navbar-bottom {
        position: absolute;
        background-color: #fff;
        height: calc(100vh - 100px);
        transform: translateX(-100%);
        transition: transform 0.6s ease-in;
        width: 200px!important;
        top: 100px;
        left: 0;
        .list {
            flex-direction: column;
            li {
                padding: 10px;
                min-width: 200px;
                a {
                    min-width: 200px;
                    display: block;
                }
            }
        }
    }
    h1 {
        display: none;
    }
}